<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thetestament.cread">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="dangerous" />

    <application
        android:name=".CreadApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- For facebook sdk start -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <!-- for razorpay sdk -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_Q09427lQA9Ol5g" />


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <!-- For facebook sdk end -->


        <!-- SplashActivity -->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BottomNavigationActivityTheme" />

        <!-- TermsOfServiceActivity -->
        <activity
            android:name=".activities.TermsOfServiceActivity"
            android:label="Terms of Service"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- BottomNavigationActivity -->
        <activity
            android:name=".activities.BottomNavigationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/BottomNavigationActivityTheme" />

        <!-- UpdatesActivity -->
        <activity
            android:name=".activities.UpdatesActivity"
            android:label="Updates"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- SettingsActivity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- FeedDescriptionActivity -->
        <activity
            android:name=".activities.FeedDescriptionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- CommentsActivity -->
        <activity
            android:name=".activities.CommentsActivity"
            android:label="Comment"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- ProfileActivity -->
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- UpdateProfileDetailsActivity -->
        <activity
            android:name=".activities.UpdateProfileDetailsActivity"
            android:label="Update profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- UpdateProfileImageActivity -->
        <activity
            android:name=".activities.UpdateProfileImageActivity"
            android:label="Profile Photo"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- FollowActivity -->
        <activity
            android:name=".activities.FollowActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- CapturePreviewActivity -->
        <activity
            android:name=".activities.CapturePreviewActivity"
            android:label="Preview"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- For contentImage cropping library -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--For Image cropping-->
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />


        <!-- HatsOffActivity -->
        <activity
            android:name=".activities.HatsOffActivity"
            android:label="People who support"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>


        <!--InspirationActivity-->
        <activity
            android:name=".activities.InspirationActivity"
            android:label="Inspiration"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!-- ShortActivity -->
        <activity
            android:name=".activities.ShortActivity"
            android:label="Write"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <!--ReadMoreActivity-->
        <activity
            android:name=".activities.ReadMoreActivity"
            android:label="Details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>


        <activity android:name=".activities.FindFBFriendsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <activity android:name=".activities.MerchandisingProductsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BottomNavigationActivity" />
        </activity>

        <activity android:name=".activities.AddressActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MerchandisingProductsActivity" />
        </activity>

        <activity
            android:name=".activities.AboutUsActivity"
            android:theme="@style/BottomNavigationActivityTheme" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.ProductsSoldActivity" />

        <!--Temporarily disable Firebase Analytics-->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- Toggle Firebase crash reporting for development -->
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />

    </application>


</manifest>